.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
}

input {
  width: 100%;
  margin: 10px;
  padding: 5px;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: #3fb27f;
}

.validate {
  display: none;
}

.ok {
  display: none;
}
.fail {
  display: none;
}

/* CSS */
button {
  appearance: none;
  background-color: #3fb27f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #3fb27f;
}

button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

button:active {
  background-color: #3fb27f;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
